.titulo1 {
  font-size: 80px;
  padding: 100px 200px;
  line-height: 30px;
  color: #0c67dd;
}

.titulo2 {
  font-size: 30px;
  padding: 10px 200px;
  line-height: 30px;
  color: #617083;
}

.titulo3 {
  font-size: 20px;
  padding: 10px 40px;
  line-height: 30px;
  color: #0c67dd;
}
.titulo4 {
  font-size: 25px;
  padding-top:100px;
  padding-bottom:20px;
  padding-left: 200px;
  line-height: 30px;
  color: #0c67dd;
}

.titulo5 {
  font-size: 25px;
  padding: 40px 200px;
  line-height: 30px;
  color: #617083;
}
/*PARA PARTE MOVIBLE */
.titulo6 {
  font-size: 25px;
  color: #617083;
  line-height: 10px;
  padding: 10px 10px;
}

.titulo7 {
  font-size: 25px;
  color: #0c67dd;
  padding: 10px 10px;
}
.titulo8 {
  font-size: 25px;
  padding-top:5px;
  padding-bottom:40px;
  padding-left: 200px;
  line-height: 30px;
  color: #0c67dd;
}
.titulo9 {
  font-size: 20px;
  padding: 10px 10px;
  line-height: 30px;
  color: #617083;
}

.boton{
  font-size:25px;
  font-weight:bold;
  color:white;
  background:#0c67dd;
  width:200px;
  height:80px;
  border-radius: 15px;
 }

 .centrar{
  margin:auto;
  display:block;
  padding-left: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  filter: url("data:image/svg xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10 */
  filter: gray; /*IE6-9*/
  -webkit-filter: grayscale(100%); /*Chrome 19+ & Safari 6+*/
  
}
.centrar:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  }

.marcom{
  padding-left: 10px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(247, 245, 245);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #617083;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
  font-weight: bold;
}

.topnav a.resaltado{
  float: left;
  color: #0c67dd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0407aa;
  color: white;
}